/* Resset basico */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Propiedades personalizadas */

:root {

  /* Fuentes */

  --font-primary: "Google Sans Flex" , sans-serif; 

  /* Color de fondos */
  --bg-body: #ffb6c1; 
  --bg-container: 	#ff62b4;
  --bg-container-counter: #ff6568; 
  --bg-task: #bf9cfc; 
  --bg-task-complete: #fc9fff; 

  /* Color textos */
  --txt-primary: #af50e5; 
  --txt-secondary: 	#d980f9; 
  --txt-counter: #e2cef6; 

  /* Color botones */

  --btn-add:	#9fecf2; 
  --btn-hide: #edfb80; 
  --btn-remove: #7590fc; 
  --btn-add-hover: 	#81b257; 
  --btn-hide-hover: 	#fd1849; 
  --btn-remove-hover: 	#4169e1;  
  --btn-text: var(--bg-body); 
  -btn-text-hover: var(--txt-primary);

  /* Color iconos */
  --icon-color: 	#ff8bc1; 
  --icon-color-hover: 	#ff007f;

  /* Espacios */
  --space-lg: 1rem;
  --space-md: .8rem; 
  --space-sm: .5rem;

  /* Bordes */
  --border-radius: 4px;
  --border-size: 1px;
  --border-color: #aee6d6; 

}

body {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  padding: var(--space-lg);
  font-family: var(--font-primary);
  background-color: #9fecf2;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 100%;
  max-width: 640px;
  height: fit-content;

  padding: var(--space-md);
  border-width: var(--border-size);
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-container);
}

.titulo {
  font-size: 1.6rem;
  color: var(--txt-primary);
}

.mensaje {
  font-size: 1rem;
  color: var(--txt-secondary);
}

.tarea-entrada {
  width: 100%;
  font-size: 1.2rem;
  padding: var(--space-lg);
  border-radius: var(--border-radius);
  border: none;
}

.contenedor-botones {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
  width: 100%;
}

.boton {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--border-radius);
  font-size: .9rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--btn-text)
}

.boton:hover {
  color: var(--btn-text-hover);
}

.boton-agregar {
  background-color: var(--btn-add);
}

.boton-agregar:hover {
  background-color: var(--btn-add-hover);
}

.boton-ocultar {
  background-color: var(--btn-hide);
}

.boton-ocultar:hover {
  background-color: var(--btn-hide-hover);
}

.boton-eliminar {
  background-color: var (--btn-remove);
}

.boton-eliminar:hover {
  background-color: var(--btn-remove-hover);
}